.header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 10%;
    width: 100%;
    background-color: var(--background);
    z-index: 1;
}

.nav {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1rem;
}
.nav > a {
    position: relative;
    text-decoration: none;
    color: var(--accent);
    opacity: 1;
    transition: color ease-in .15s;  
    padding: 0.3rem 0.6rem;
    text-transform: uppercase;
    font-weight: bold;
}

.nav > a::after {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left:0;
    right: 0;
    height: 100%;
    width: 0;
    margin: auto;
    background-color: var(--accent);
    transition: all ease-in .15s;
    z-index: -1;
}


.nav > a:hover {
    z-index: 1;
    color: var(--background)
}

.nav > a:hover::after {
    width: 100%;
}

.headerImage {
    stroke: var(--accent);
    /* stroke-width: 2%; */
    color: var(--accent);
    height: auto;
    min-width: 50px;
    width: 3vw;
    margin-left: 0.5rem;
    transition: all .15s;
}

.headerImage:hover {
    transform: rotate(180deg);
}

.headerImage:hover {
    cursor: pointer;
}

.headerInner {
    display: flex;
    width: 100%;
}

.imageContainer {
    margin: 0.5rem;
}

@media screen and (min-width: 600px) {
}

@media screen and (min-width: 768px) {

}

@media screen and (max-width: 1600px) {
}
