.header {
    height: 100%;
    width: 100%;
}

.nav {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}
.nav > a {
    position: relative;
    text-decoration: none;
    color: var(--font);
    opacity: 1;
    transition: color ease-in .15s;  
    margin: 0.2rem;
    padding: 0.3rem 0.6rem;
    text-transform: lowercase;
}

.nav > a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left:0;
    height: 100%;
    width: 0;
    background-color: var(--accent);
    transition: all ease-in .15s;
    z-index: -1;
}


.nav > a:hover {
    color: #fff;
}

.nav > a:hover::after {
    width: 100%;
}

.headerImage {
    stroke: var(--accent);
    color: var(--accent);
    height: auto;
    min-width: 25px;
    max-width: 30%;
}

.headerInner {
    display: flex;
    width: 100%;
}

.imageContainer {
    margin: 1rem;
}

@media screen and (min-width: 600px) {
}

@media screen and (min-width: 768px) {

}

@media screen and (max-width: 1600px) {
}
