/* .imageBox { */
/*     border-radius: 100%; */
/*     box-shadow: var(--shadow) 7px 7px 29px; */
/*     height: 250px; */
/*     width: 250px; */
/* } */

/* .rndImage { */
/*     border-radius: 100%; */
/* } */


.buttonContainer {
    margin-top: 1rem;
}

.imageContainer {
    display: flex;
    align-items: center;
    min-width: 20%;
    max-width: 50%;
    margin: 0 auto;
    border-radius: 1rem;
    box-shadow: 0px 1px 4px var(--shadow);
}

.bgImage {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
}


.rotate90:hover {
    transform: rotate(90deg);
}


.introParagraph {
    margin-top: 0;
    margin-bottom: 0;
}

@media screen and (min-width: 600px) {

    .imageContainer {
        min-width: 35%;
        width: 75%;
        height: auto;
    }

    .buttonContainer {
        margin-top: 3rem;
    }

    .topContainer {
        display: flex;        
        flex-direction: row-reverse;
        gap: 1.5rem;
        padding: 1rem 0;
        align-items: center;
    }
    
    .container {
        margin: 1rem auto;
    }
    
    .infoBox {
        display: block;
        padding: 0;
        align-self: center;
    }
}

@media screen and (min-width: 900px) {
    .infoBox {
        padding: 0;
    }
    .imageContainer {
        margin-right: 1rem;
        min-width: 0;
        width: 30%;
    }
}

@media screen and (min-width: 1200px) {
    .imageContainer {
        width: 20%;
    }
}

/* @supports (mix-blend-mode: darken) { */
/*     .pictureContainer::after { */
/*         background-color: var(--background); */

/*         mix-blend-mode: darken; */
/*     } */
/* } */

/* @supports (mix-blend-mode: lighten) { */
/*     .pictureContainer::before { */
/*         background-color: var(--accent); */
/*         mix-blend-mode: lighten; */
/*     } */
/* } */

/* @media screen and (max-width: 900px) { */
/*     .intro { */
/*         flex-direction: column; */
/*         width: 100%; */
/*         padding: 1rem; */
/*     } */

/*     .infoBox { */
/*         width: 100%; */
/*     } */

/*     .descBox { */
/*         margin-top: 2rem; */
/*         width: 100%; */
/*     } */
/* } */

@keyframes fadeInUp {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);        
        opacity: 1;
    }
}
