.container {
    margin-top: 4rem;
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.centered {
    margin: 0 auto;
}

.containerWithFade {
    animation: fadeInUp .5s ease;
}

.imageContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, 100%);
    align-items: center;
    gap: 1rem; 
}

@keyframes fadeInUp {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);        
        opacity: 1;
    }
}

@media screen and (min-width: 600px) {
    .container {
        width: 80%;
        margin: 4rem auto 0 auto;
    }

    .imageContainer {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

@media screen and (min-width: 900px) {
    .container {
        margin-top: 1rem;
    }
}

@media screen and (min-width: 1200px) {
}
