.container {
    padding: 1rem;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@media screen and (min-width: 600px) {
    .container {
        width: 80%;
        margin: 2rem auto 0 auto;
    }
}

@media screen and (min-width: 900px) {
}

@media screen and (min-width: 1200px) {
}