.container {
    margin-top: 4rem;
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.centered {
    margin: 0 auto;
}

.withFade {
    animation: fadeInUp .5s ease;
}

.inlineContainer {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.imageContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, 100%);
    align-items: center;
    gap: 1rem; 
}

.actionButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: relative;
    background-color: transparent;
    color: var(--font);
    border: 1px solid var(--font);
    border-radius: 4px;
    font-size: 0.7em;
    font-family: inherit;
    padding: 0.7rem 2rem;
    transition: all .15s ease-in;
    text-transform: uppercase;
    z-index: 1;
}

@keyframes bounceAnimation {
    0% {
        margin-top: -10px;
    }
    50% {
        margin-top: 0;
    }
    100% {
        margin-top: 10px;
    }
}

.actionButton::after {
    content: '';
    position: absolute;
    background-color: var(--font);
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    transition: all .15s ease-in;
    z-index: -1;
}

.actionButton:hover::after {
    width: 100%;
}

.actionButton:hover {
    cursor: pointer;
    color: var(--background);
}

.linkNoStyles {
    font-variant: normal;
    font-style: normal;
    text-decoration: none;
}

@keyframes fadeInUp {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);        
        opacity: 1;
    }
}

@media screen and (min-width: 600px) {
    .container {
        width: 80%;
        margin: 4rem auto 0 auto;
    }
    
    .inlineContainer {
        flex-direction: row;
    }

    .imageContainer {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

@media screen and (min-width: 900px) {
    .container {
        margin-top: 1rem;
    }

}

@media screen and (min-width: 1200px) {

    .imageContainer {
        grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
    }
}
