:root {
    /* --background: #fff; */
    /* --background: rgba(255, 255, 255, 1); */
    --background: rgba(38, 64, 39, 1);
    /* --font: rgb(44, 46, 49); */
    --font: rgba(255, 255, 255, 1);
    --font-grey: rgba(255, 255, 255, .8);
    /* --font-light: rgba(255, 255, 255, .9); */
    /* --font-light: rgb(109, 119, 119); */
    /* --accent: rgb(68, 71, 149); */
    /* --accent: rgb(60, 82, 51); */
    /* --accent: rgb(216, 216, 246); */
    --accent: rgb(220, 255, 253);
    /* --accent: rgb(242, 193, 78); */
    /* --link: rgb(38, 64, 39); */
    --link: rgb(220, 255, 253);
    /* --link-visited: rgb(60, 82, 51); */
    --link-visited: rgb(71, 128, 125);
    --shadow: rgba(100, 100, 111, 0.3);
}

html {
    font-size: calc(1em + 0.4vw);
    scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, */
  /* Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: 'Montserrat', sans-serif;
  color: var(--font);
  background-color: var(--background);
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: 'Cormorant', serif;
  font-size: 3rem;
  margin: 1rem 0;
}

p {
  line-height: 1.4;
  margin: 0.5rem 0;
}

a {
    text-decoration: underline;
    color: var(--accent);
}

a:link:visited {
    color: var(--link-visited);
}
