:root {
    --background: #fff;
    /* --font: rgb(44, 46, 49); */
    --font: rgba(0, 0, 0, 1);
    --font-light: rgba(0, 0, 0, .7);
    /* --font-light: rgb(109, 119, 119); */
    --accent: rgb(68, 71, 149);
    --link: rgb(71, 79, 132);
    --link-visited: rgb(73, 81, 135);
    --shadow: rgba(100, 100, 111, 0.3);
}

html {
    font-size: calc(1em + 0.5vw);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: var(--font);

}

* {
  box-sizing: border-box;
}

a {
    text-decoration: underline;
    color: var(--link);
}

/* a:visited { */
/*     color: var(--link-visited); */
/* } */
