.headerBox {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.codeIcon {
  fill: var(--font);
  stroke: var(--font);
  color: var(--font);
  height: auto;
  flex: 0 0 10vh;
}

.codeIconWrapper {
  padding: 0.5rem 0;
  gap: 1rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.codeIconWrapper:first-of-type {
  padding-top: 1rem;
}

.codeIconWrapper:last-of-type {
  padding-bottom: 2rem;
}

@media screen and (min-width: 900px) {
  .headerBox {
    flex-direction: row;
  }
}